<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="nav"><a href="{{ url_for('allRestaurant')}}">Home</a></div>
    <h1> Are you sure you want to delete {{delDish.name}}? </h1>

    <form action="{{ url_for('delMenu', restaurant_id=delDish.restaurant_id, menu_id=delDish.id)}}" method = 'post'>
        <input type='submit', value = 'Delete'>

    </form>

    <a href = "{{ url_for('restaurantMenu', restaurant_id = delDish.restaurant_id)}}"> Cancel </a>
</body>

</html>